@import "tailwindcss";

:root {
  --background: #030303;
  --foreground: #ffffff;
  --foreground-rgb: 255, 255, 255;
  --accent: #8b5cf6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Fix for icons */
.dark-icon-wrapper img {
  filter: brightness(0) invert(1) drop-shadow(0 0 2px rgba(255, 255, 255, 0.5)) !important;
}

body {
  /* background-color: var(--background); */
  background-color: transparent;
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
  overflow: hidden;
  transition: color 0.5s ease;
  @apply antialiased;
}

/* Custom 3D Utilities */
.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

/* Hide cursor for custom implementation (desktop only) */
@media (pointer: fine) {
  body {
    cursor: none;
  }
}